<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>webTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
     <!-- 서블릿 등록 --> 
 <servlet>
    <servlet-name>ServletTest01</servlet-name>
    <!-- 패키지가 포함된 클래스명을 적으면됨 -->
    <servlet-class>kr.or.ddit.basic.ServletTest01</servlet-class>
 </servlet>  
  
  <!-- 서블릿 매핑 => URL주소와 실행할 클래스 연결해주는 작업 -->
  <servlet-mapping>
     <servlet-name>ServletTest01</servlet-name>
     <url-pattern>/ServletTest01.do</url-pattern>
  </servlet-mapping>
  
</web-app>